extends layout

block content
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red Bicicletas
        br
        br
        a.btn.btn-primary.js-scroll-trigger(href='/bicicletas/') Mostrar Lista de bicicletas
        br
        br
        a.btn.btn-primary.js-scroll-trigger(href='/bicicletas/create') Crear Nueva Bicicleta
        br
        br
        a.btn.btn-primary.js-scroll-trigger(href='#mapid') Mapa

  section#projects.projects-section.bg-light
    .container
      p visualiza las bicicletas en el mapa:
      //Mapa
      #mapid


  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/leaflet.js')
