extends ../layout


block content
  section#projects.projects-section.bg-light
    a(href='/bicicletas/create') Nueva Bicicleta
    a(href='/')  Inicio
    //tabla con clase table
    table.table
      thead
        tr
          th(scope='col') #
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
          //columnas vacias
          th(scope='col')
          th(scope='col')
      tbody
        //Busca el objeto bicis, que le pasamos antes desde controllers/bicicleta.js, y va recorriendo cada elemento y lo almacena temporalmente en bici
        each bici in bicicletas
          //Arma una fila con cada elemento del objeto bicis con el id, color, modelo, de cada elemento que estamos recorriendo
          tr
            td(scope='row')
              = bici._id
            td= bici.color
            td= bici.modelo
            td= bici.ubicacion
            td
              